// Define variables for your color scheme

$dark-blue:#161B33;
$font-dark:#161B33;
$flash: #e4cf85;

// some color to test
// jaune #e4cf85
// grey #48545c
// blue #3c9cac
// ligh pink #c48080
// dark pink #995355



$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
