<div class="footer">
  <div class="content">
    <div class="footer-content">
      <div class="footer-copyright">
        Any questions ? Suggestions ?
        <a href="mailto:negro.guillaume@gmail.com"><i class="fas fa-paper-plane"></i> Mail us</a>
      </div>
      <div class="footer-links">
        <a target="_blank" href="https://github.com/GN13008"><i class="fab fa-github"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/guillaumenegro/"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Design by  <a target="_blank" href="https://gndevelopment.fr/"><i class="far fa-copyright"></i> GN Development</a>
      </div>
    </div>
  </div>
</div>