<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/GN13008"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/guillaumenegro/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Design and Concept by  <a href="#"><i class="far fa-copyright"></i> GN Development</i></a>
  </div>
</div>