.banner-home {
  min-height: 95vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),
  url("https://images.unsplash.com/photo-1512674570766-3e4bc9feb382?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-params {
  min-height: 95vh;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),
  url("https://images.unsplash.com/photo-1512674570766-3e4bc9feb382?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-search {
  background-image: linear-gradient(120deg, rgba(0,0,0,0.7),rgba(0,0,0,0.5)),
  url("https://images.unsplash.com/photo-1512674570766-3e4bc9feb382?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .banner-content {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    .content {
      justify-content: center;
    }
  }
  a {
    text-decoration: none;
    color: white;
    opacity: 1;
  }
  a:hover {
    opacity: 0.6;
  }
}

.banner-content {
  color: white;
  hr {
    color: $flash;
    background-color: $flash;
  }
  h1{
    font-size: 48px;
  }
  h2{
    font-size: 28px;
  }
  h3{
    font-size: 20px;
  }
  padding-bottom: 150px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .banner-content {
    padding-bottom: 0px;
  }
  .banner-home {
    .banner-content {
      padding-bottom: 50px;
    }
  }
  .banner-params {
    .banner-content {
      padding-top: 8px;
      padding-bottom: 50px;
    }
  }
}
